header{
	background: #006064;
}

.blanco{
color: #FFFFFF;
}





.navbar-default{
	background-color: #37474f;
	border-style: solid;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: none;

}