body{
	background: #bdbdbd;
}
header{
	color: #827717;
	text-align: center;
	background: #69f0ae;
	border-color: #bdbdbd;
	border-width: 2px;
	border-style: solid;
}

nav{
	background: #00838f;
	border-color: #bdbdbd;
	border-width: 2px;
	border-style: solid;

}
h1{
	color: #827717;
	text-align: center;
}
.ico{
	height: 50px;
	width: 50px;
}
div{
	background: #80cbc4;
	text-align: center;
	border-color: #bdbdbd;
	border-width: 2px;
	border-style: solid;
}